@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #1E5128;
    padding: 6px 14px;
    transition: all 0.5s ease;
    display: block;
    z-index: 3;   
}

.sidebar.active{
    width: 240px;
    background: #1E5128;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo img{
    height: 55px;
    width: 115px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 40px;
    margin-top: 5px;
}

.logo_content .logo{
    font-size: 28px;
    margin-right: 5px;
    
}

.logo_content .logo .logo_name{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    font-weight: 400;
}

.sidebar #btn{
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .nav_list{
    margin-top: 20px;
    align-items: center;
}

.sidebar .nav_list .list{
    position: relative;
    margin-top: 5px;
    list-style: none;
    height: 50px;
    width: 100%;
    line-height: 50px;
    object-fit: cover;
}

.sidebar .nav_list .list input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #fff;
    padding-left: 50px;
    font-size: 18px;
    color: #007e1b;
}

.sidebar .nav_list .list .bx-search{
    position: absolute;
    z-index: 99;
    color: #007e1b;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar .nav_list .list .bx-search:hover{
    background: #fff;
    color  : #00ff22;
}

.sidebar .nav_list .list .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    background: rgb(44, 44, 44);
    left: 122px;
    top: 0;
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #00ff22;
}

.sidebar.active .nav_list .list .tooltip{
    display: none;
}

.sidebar .nav_list .list:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.sidebar .nav_list .list a{
    color: #D8E9A8;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar .nav_list .list i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    align-items: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}


.sidebar .nav_list .list a:hover{
    color: #00ff22;
    background: rgb(44, 44, 44);
}

.sidebar .profile_content{
    position: absolute;
    color: #D8E9A8;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #fff ;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: o;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}


.profile_content .profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0;
}

.sidebar.active .profile_content .profile .profile_details img{
    opacity: 1;
}


.sidebar.active .profile .profile_details .name_job{
    opacity: 1;
}

.profile_content .profile .profile_details .name_job{
    margin-left: 10px;
    opacity: 0;
}

.profile_content .profile .profile_details .name{
    font-size: 15px;
    font-weight: bold;
    color: #1E5128;
    opacity: 0;
}

.sidebar.active .profile .profile_details .name{
    opacity: 1;
}

.profile_content .profile .profile_details .job{
    font-size: 12px;
    color: #1E5128;
}

.profile_content #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    color: #007e1b;
    text-align: center;
}

.sidebar.active .profile_content #log_out{
    left: 88%;
}

/* .sidebar.active ~ .home_content{
    height: calc(100% - 240px);
    left: 240px;
} */



.wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}
.stats-container {
    text-align: right;
    margin-bottom: 1.2em;
}
.stats-container span {
    font-weight: 600;
}
.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}
.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #1E5128;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
    background-size: 10%;
}
.card-before {
    background-color: #019922;
    font-size: 2.8em;
    font-weight: 600;
}
.card-after {
    background-color: #D8E9A8;
    transform: rotateY(180deg);
}
.card-container.flipped .card-before {
    transform: rotateY(180deg);
}
.card-container.flipped .card-after {
    transform: rotateY(0deg);
}
.controls-container {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background: url("../img/Optimus-3.png");
    top: 0;
}
button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}
#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
}
.controls-container button {
    font-size: 1.3em;
    background-color: #1E5128;
    color: #D8E9A8;
    border-radius: 15px;
}
.controls-container button:hover {
    font-size: 1.3em;
    background-color: rgb(44, 44, 44);
    color: #00ff22;
    border-radius: 15px;
}
.hide {
    display: none;
}
#result {
    text-align: center;
}
#result h2 {
    font-size: 2.5em;
}
#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}
  
  

/* Desktop Version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    
    .jumbotron {
        margin-top: -75px;
        height: 640px;
        text-align: center;
    }

    .jumbotron .display-4{
        font-size: 62px;
    }


    .workingspace {
        text-align: left;
    }

    .testimonial h5{
        font-size: 32px;
    }
}



