/* Warna Pokok
Sidebar = #51aeb2 , #6bc5a2
Latar   = #f5e4c6
Font    = #a2d996 
Hijau   = #7ed957
Biru    = #0070b2
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #1E5128;
    padding: 6px 14px;
    transition: all 0.5s ease;
    display: block;
    
}

.sidebar.active{
    width: 240px;
    background: #1E5128;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo img{
    height: 55px;
    width: 115px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 40px;
    margin-top: 5px;
}

.logo_content .logo{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .nav_list{
    margin-top: 20px;
    align-items: center;

}

.sidebar .nav_list .list{
    position: relative;
    margin-top: 5px;
    list-style: none;
    height: 50px;
    width: 100%;
    line-height: 50px;
    object-fit: cover;   
}

.sidebar .nav_list .list input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #fff;
    padding-left: 50px;
    font-size: 18px;
    color: #1E5128;
}

.sidebar .nav_list .list .bx-search{
    position: absolute;
    z-index: 99;
    color: #007e1b;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar .nav_list .list .bx-search:hover{
    background: #fff;
    color  : #00ff22;
}

.sidebar .nav_list .list .tooltip{
    font-family: 'Poppins';
    position: absolute;
    height: 35px;
    width: 140px;
    background: rgb(44, 44, 44);
    left: 122px;
    top: 0;
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #00ff22;
}

.sidebar.active .nav_list .list .tooltip{
    display: none;
}

.sidebar .nav_list .list:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.sidebar .nav_list .list a{
    color: #D8E9A8;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar .nav_list .list i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    align-items: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}


.sidebar .nav_list .list a:hover{
    color: #00ff22;
    background: rgb(44, 44, 44);
}

.sidebar .profile_content{
    position: absolute;
    color: #D8E9A8;
    bottom: 0;
    left: 0;
    width: 100%;

}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #fff ;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: o;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}


.profile_content .profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0;
}

.sidebar.active .profile_content .profile .profile_details img{
    opacity: 1;
}


.sidebar.active .profile .profile_details .name_job{
    opacity: 1;
}

.profile_content .profile .profile_details .name_job{
    margin-left: 10px;
    opacity: 0;
}

.profile_content .profile .profile_details .name{
    font-size: 15px;
    font-weight: bold;
    color: #1E5128;
    opacity: 0;
}

.sidebar.active .profile .profile_details .name{
    opacity: 1;
}

.profile_content .profile .profile_details .job{
    font-size: 12px;
    color: #1E5128;
}

.profile_content #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    color: #007e1b;
    text-align: center;
}

.sidebar.active .profile_content #log_out{
    left: 88%;
}

.home_content{
    position: fixed;
    height: 100%;
    left: 78px;
    width: calc(100% -78px);
    max-width: 100%;
    transition: all 0.5s ease;
    display: block;
    overflow-x: hidden;
    background: #D8E9A8;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #018a01;
    margin: 12px;
}

.sidebar.active ~ .home_content{
    height: calc(100% - 0px);
    left: 240px;
}

/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: "Viga";
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url("../img/landpage.png");
    background-size: cover;
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
    
}

.jumbotron .container{
    z-index: 1;
    position: relative;

}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, #d8e9a867,rgba(255, 255, 255, 0)); 
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 85px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(10, 8, 36);
    font-size: 40px;
   
    
}
.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info Panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-top: 20px;
}

.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}

.info-panel p{
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* Workingspace */
.backspace h2{
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-top: 10px;
}

.backspace{
    /* background-color: #0be881; */
}
.workingspace {
    margin-top: 20px;
    text-align: center;
}

.workingspace h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;

}

.workingspace h3 span{
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 10px 0;
}

.workingspace img {
    border-color: dimgray;
    border-width: 2pt;
}

/* testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img{
    width: 60px;
    margin: 20px 10px 7px;
    opacity: 0.6;
}

.testimonial figure img.utama{
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
}

.testimonial figure p{
    font-style: 12px;
    color: #ACACAC;
    text-align: center ;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}

/* Footer */
footer {
    color: #ACACAC;
    font-size: 18px;
    margin-top: 100px;
}


/* Utillities */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    margin-top: 5px;
    
}


/* FAQ */
.faq {
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;

}

.wrapper{
    background: url("../img/faq5.png");
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);;
    margin-right: 20px;
}
.toggle,
.content{
    font-family: "Poppins",sans-serif;
}
.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: 1E5128;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    padding: 15px 0;
}

.content{
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
    color: #1E5128;
}

/* Judul Teks */

.judul span {
    font-size: 5vw;
    text-shadow: -0.08em -0.02em 0.03em rgba(20, 155, 2, 0.993);
    color: #ffffff;
    margin-left: 2px;
}
.judul span:not(:first-child) {
    margin-left: -0.24em;
}

/* Kesehatan */

.container-body {
  height: 100vh;
  background-color: #D8E9A8;
}
.container-tools {
    background-color: #ffffff;
    width: 90vw;
    font-size: 16px;
    max-width: 28em;
    padding: 2em;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 3.2em rgba(88, 88, 92, 0.2);
    border-radius: 0.6em;
}

.container-tools h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}



/* Health Card */


.input-wrapper input {
    display: block;
    width: 100%;
    font-size: 1.2em;
    padding: 0.4em;
    border: 1px solid #a0a0a0;
    border-radius: 0.2em;
}
.input-wrapper label {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.25em;
}
.input-wrapper:not(:last-child) {
    margin-bottom: 1.2em;
}
.health{
    margin-top: 50px;
}

.health-card{
    margin-bottom: 50px;
}
  
 /* ===================================== */
  
.high {
    margin-top: 200px;
    width: 70%;
    
}
.section-card {
    height: 100vh;
    display: flex;
    padding: 0 1em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container-card {
    perspective: 100px;
    height: 25vh;
    width: 100%;
    cursor: pointer;
    flex-basis: 0 0 50%;
    max-width: 100%;
    padding: 0 0.5em;
}

/* ===================================== */
.row-weight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    padding: 0.3em;
}
.row-weight span{
    font-weight: 500;
}
input[type="range"]{
    width: 75%;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
}
#result{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #0be881;
}
#category{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

/* Flip Card */
.backspace{
    margin-top: 10px;
}
.seccard-tips {
    height: 100vh;
    display: flex;
    /* padding: 0 1em; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.concard-tips {
    perspective: 1000px;
    height: 28vh;
    width: 100%;
    cursor: pointer;
    flex-basis: 0 0 45%;
    max-width: 45%;
    padding: 0 1em;
}
.card-flip {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
}

.gambar {
    object-fit: fill;
    background-size: cover;
}

.front,
.back {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.4em;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
}
.front {
    /* background-image: url("../image/comic.jpg"); */
    background-size: cover;

}

.front::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #f85bd1,#5d17ff);
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    
}

.front img {
    width: 5em;
}
.info-content {
    transform: translateZ(60px);
}

.info-content p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.02em;
    padding: 0 3em;
}
.back {
    background-color: #28253a;
    transform: rotateX(180deg);
}
.concard-tips:hover .card-flip {
    transform: rotateX(180deg);
}

/* Carousel */
/* Slideshow */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.cardslide{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    display:block;
    object-fit: cover;
    align-items: center;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -15px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(255, 255, 255);
    color: #17b802;
    text-decoration: none;
    border-radius: 15px;
}

.text {
    font-family: 'Quicksand', sans-serif;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #24b400;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Covid Case */
.concase {
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    border-radius: 24px;
    background: #F6F5F0;
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 150px;
}
.board {
    column-count: 3;
    column-gap: 1rem;
}
.concase h2 {
    margin: 0 0 30px;
    text-align: center;
}
img#flag {
    height: 20px;
    width: 40px;
}
.card-case {
    width: 100%;
    height: 170px;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}
.card-case.a {
    background: #41a7ff;
}
.card-case.cr {
    background: #ff3434;
}
.card-case.r {
    background: #32b336;
}
.card-case.ca {
    background: #d83f3f;
}
.card-case.d {
    background: #ff0053;
}
.card-case.t {
    background: #ffa501;
}
.card-case h5 {
    margin: 0;
    font-size: 1rem;
}
.card-case span {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.card-case i {
    font-size: 3rem;
}

/* Social Media */

.sm {
    text-decoration: none;
}
.sm a{
    color: rgb(199, 199, 199);
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
    
}

.sm a:hover{
    color: #48fba1;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .board {
    column-count: 2;
    }
    .card-case span {
    font-size: 2.5rem;
    }
}
@media screen and (max-width: 500px){
    .board {
    column-count: 1;
    }
}


/* Desktop Version */
@media (min-width: 992px) {

    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -95px;
        height: 640px;
        text-align: center;
        background-size: cover;
    }

    .jumbotron .display-4{
        font-size: 62px;
    }


    .workingspace {
        text-align: left;
    }

    .testimonial h5{
        font-size: 32px;
    }

    
}



